In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv("loan.csv")
df.shape

(614, 13)

In [3]:
df=df.dropna()
df.shape
df.head(6)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [4]:
df.replace({"Gender":{"Male":1,"Female":0}},inplace=True)

In [5]:
df.replace({"Education":{"Graduate":1,"Not Graduate":0}},inplace=True)

In [6]:
df.replace({"Married":{"Yes":1,"No":0}},inplace=True)

In [7]:
df.replace({"Self_Employed":{"No":0,"Yes":1}},inplace=True)

In [8]:
df.replace({"Property_Area":{"Rural":0,"Urban":1,"Semiurban":3}},inplace=True)

In [9]:
df.replace({"Loan_Status":{"N":0,"Y":1}},inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    int64
 2   Married            480 non-null    int64
 3   Dependents         480 non-null    object
 4   Education          480 non-null    int64
 5   Self_Employed      480 non-null    int64
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    int64
 12  Loan_Status        480 non-null    int64
dtypes: float64(4), int64(7), object(2)
memory usage: 52.5+ KB

In [11]:
df.drop("Loan_ID",axis=1,inplace=True)

In [12]:
df.drop("Dependents",axis=1,inplace=True)

In [13]:
X=df.drop("Loan_Status",axis=1).values

In [14]:
y=df["Loan_Status"].values


# logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=.20,random_state=40)
lg.fit(xtrain,ytrain)
ans=lg.predict(xtest)

C:\Users\atult\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
from sklearn.metrics import accuracy_score
print("By using logistic Regression accuracy is :",accuracy_score(ytest,ans)*100,"%")

By using logistic Regression accuracy is : 81.25 %

# SVM

In [17]:
from sklearn.svm import SVC

clf=SVC(kernel="linear")
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=.20,random_state=3000)
clf.fit(xtrain,ytrain)
svm_pred=clf.predict(xtest)

In [18]:
from sklearn.metrics import accuracy_score
print("By using SVM accuracy is :",accuracy_score(ytest,svm_pred)*100,"%")

By using SVM accuracy is : 82.29166666666666 %

#  Decision Tree

In [19]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=40,criterion='gini',splitter='best',max_depth=4)
clf.fit(xtrain,ytrain)
DTC_pred=clf.predict(xtest)

In [20]:
from sklearn.metrics import accuracy_score
print("By using Decision Tree accuracy is :",accuracy_score(ytest,DTC_pred)*100,"%")

By using Decision Tree accuracy is : 84.375 %

# RandomForest

In [21]:
from sklearn.ensemble import RandomForestClassifier
RFC=RandomForestClassifier(n_estimators=180,max_depth=8, random_state=80)
RFC.fit(xtrain,ytrain)
Ranfor_pred=RFC.predict(xtest)

In [22]:
from sklearn.metrics import accuracy_score
print("By using RandomForest accuracy is :",accuracy_score(ytest,Ranfor_pred)*100,"%")

By using RandomForest accuracy is : 86.45833333333334 %